<h1>List of movies</h1>

<ol>
  <% @lists.each do |list|%>
  <li>

   <div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')"
>
  <%= link_to list.name, list_path(list)  %>
</div>

  </li>
  <% end %>
</ol>

<br>
<br>
<br>
<br>
<%= link_to "Add a new list", new_list_path %>

<%= cl_image_tag("ibrilcii3osrsurnsvg4",
      width: 400, height: 300, crop: :fill) %>

<br>
<%= image_tag "photo-1596301411650-493197485bff.jfif" %>
