<h1> <%= @list.name %> </h1> <br>

<ul class="list-group">
  <% @movies.each do |movie| %>
    <li class="list-group-item"><%= movie.title %> <br> <%= movie.overview %> <br>  <%= movie.poster_url %>  <br>  <%= movie.rating %></li>
  <% end %>
</ul>


<%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>


<%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}
